@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/*VARIAVEIS*/
:root{
    --header-height: 3rem;
    --nav-width: 324px;


    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --first-color: #cc3b2c;
    --first-color-dark: #662616;
    --first-color-darken: #290F09;
    --text-color: #54423D;
    --first-color-light: #EAE7E6;
    --first-color-lighten: #FFFAFA;

    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .813rem;
    --omega-tiny-font-size: .75rem;

    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    /* z-index */
    --z-fixed: 100;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --tiny-font-size: .875rem;
        --omega-tiny-font-size: .813rem;
    }
}

/* A RAIZ DO PROJETO*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1,h2,h3,p{
    margin: 0;
}
h3{
    font-weight: var(--font-semi-bold);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* As tags semânticas + as classes do css*/
.section{
    padding: 4rem 0 2rem;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}
.section-subtitulo{
    display: block;
    font-size: var(--tiny-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}

/* MEU LAYOUT */
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-lighten);
    box-sizing: 0 2px 4px rgba(0, 0, 0, .1);
}

/* NAVEGAÇÃO */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--first-color);
    transition: .5s;
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--first-color-dark);
    cursor: pointer;
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--first-color-lighten);
    font-weight: var(--font-bold);
    transition: .3s;
}
.nav__link:hover{
    color: var(--text-color);
}
.nav__toggle{
    color: var(--first-color-dark);
    font-size: 1.3rem;
    cursor: pointer;
}
.show{
    left: 0;
}

.active{
    color: var(--text-color);
}
/*=========== HOME ===============*/
.home__container{
    height: calc(100vh - var(--header-height));
    align-items: center;
}
.home__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}
.home__img{
    padding-top: -0.7rem;
    padding-left: -2.2rem;
    width: 171px;
    height: 162px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
}
.home__img img{
    width: 171px;
}
.home__title{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}
.home__profissao{
    font-size: var(--tiny-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-5);
}
.home__social{
    margin-bottom: 5rem;
}

.home__social-link{
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .4s;
}
.home__social-link:hover{
    background-color: var(--first-color-dark);
}
.home__button{
    width: 100%;
}

/*OS BOTÕES*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-light);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;
}
.button:hover{
    background-color: var(--first-color-dark);
}
.button__light{
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}
.button__light:hover{
    color: var(--first-color-lighten);
}

/*==== INFORMAÇÕES SOBRE MIM*/
.sobre__container{
    row-gap: 2rem;
}
.sobre__data{
    text-align: center;
}
.sobre__descricao{
    margin-bottom: var(--mb-4);
}
/*ESPAÇO ABERTO CASO EU QUERER TER UMA IMAGEM*/

.sobre_informacao{
    margin-bottom: var(--mb-4);
}
.sobre__informacao-titulo{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}
.sobre__informacao-data{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}
.sobre__informacao-icon{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-4);
}
.sobre__informacao-subtitulo{
    display: block;
    font-weight: var(--font-semi-bold);
}
.sobre__informacao-subtitulo-tiny{
    font-size: var(--tiny-font-size);
}

/*MINHAS HABILIDADES COM TECNOLOGIA*/

.habilidade__container{
    row-gap: 2rem;
}

.habilidade__subtitulo{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}
.habilidade__data{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
}
.habilidade__nome{
    text-transform: uppercase;
}
.habilidade__bar{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: var(--first-color);
}
.habilidade__html{
    width: 90%;
}
.habilidade__javascript{
    width: 100%;
}
.habilidade__react{
    width: 54%;
}
.habilidade__vue{
    width: 60%;
}
.habilidade__typescript{
    width: 50%;
}
.habilidade__jquery{
    width: 90%;
}
.habilidade__python{
    width: 100%;
}
.habilidade__php{
    width: 60%;
}
.habilidade__nodejs{
    width: 70%;
}
.habilidade__java{
    width: 30%;
}
.habilidade__firebase{
    width: 50%;
}
.habilidade__mysql{
    width: 100%;
}
.education__container{
    row-gap: 2rem;
}
.education__content{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}
.education__year, .education__race{
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}
.education__university{
    display: block;
    font-size: var(--omega-tiny-font-size);
}
.education__time{
    padding: 0 1rem;
    justify-self: center;
}
.education__rounder{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
}
.education__rounder::before{
    content: '';
    position: absolute;
    transform: translate(-4px,-4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
}
.projeto__container{
    row-gap: 1.2rem;
}

.projeto__content{
    padding: 1.5rem .5rem;
    border: 2px solid var(--first-color);
    border-radius: .5rem;
    text-align: center;
}
.projeto__icon{
    font-size: 2rem;
    padding: .5rem;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    border-radius: 50%;
    margin-bottom: var(--mb-2);
}
.projeto__titulo{
    font-size: 1.25rem;
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}
.projeto__content, .projeto__icon, .projeto__descricao, .projeto__titulo{
    transition: .5s;
}
.projeto__content:hover{
    background-color: var(--first-color);
}
.projeto__content:hover .projeto__icon{
    background-color: var(--first-color);
    color: var(--first-color-lighten);
}
.projeto__content:hover .projeto__titulo{
    background-color: var(--first-color);
    color: var(--first-color-lighten);
}
.projeto__content:hover .projeto__descricao{
    background-color: var(--first-color);
    color: var(--first-color-lighten);
}

.trabalho{
    background-color: var(--first-color);
    padding-bottom: 0;
}
.trabalho__container{
    row-gap: 2rem;
}
.trabalho__data{
    text-align: center;
}
.trabalho__titulo, .trabalho__descricao{
    color: var(--first-color-lighten);
}

.trabalho__descricao{
    margin-bottom: var(--mb-4);
}
